@media screen and (max-width: 1400px) {
    #carousel {
        margin-top: -10%;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        padding: 1rem 5rem;
    }

    .footer-nav {
        justify-content: center;
    }

    #carousel {
        margin-top: 0;
    }
}

@media screen and (max-width: 1100px) {
    .primary-photo {
        width: 100%;
    }

    .second-column {
        margin-top: 0;
    }

    .secondary-photo {
        width: 100%;
        margin: 0%;
    }
    
    .overlap-text {
        background-color: antiquewhite;
        padding: 1.5rem;
        width: 90%;
        justify-content: space-evenly
    }

    .shop-link {
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 990px) {
    .product-detail, .product-detail h5, .product-detail h6 {
        flex-direction: column;
        font-size: small;
    }
}




@media screen and (max-width: 800px) {
    .remember-forgot, .agree-to-terms, .hear-about {
        font-size: smaller;
    }

    .login-container h5{
        font-size: medium;
    }
}

@media screen and (max-width: 767px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
        align-content: center; 
    }

    .brand{
        display: flex;
        justify-content: center;
    }

    .first-col, .first-col ul, .second-col, .second-col ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media screen and (max-width: 600px) {
    .navbar-brand {
        margin-right: 0;
    }

    .remember-forgot {
        flex-wrap: wrap;
    }

    .cart-container .table {
        width: 100vw;
    }
 
}

@media screen and (max-width: 530px) {
    .navbar > .container-fluid {
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        margin: 0;
    }

    .input-group {
        width: 80%;
    }

    .navbar-collapse {
        margin-left: 2rem;
    }

 
}

@media screen and (max-width: 460px) {
    .agree-to-terms {
        font-size: x-small;
    }

    .cart-container, .cart-container h6{
        font-size: small;
    }

    .cart-container .btn {
        padding: .25rem;
        font-size: x-small;
    }

    #shipment option {
        font-size: small;
    }

    .same-address label, 
    .same-address .form-check-input{
        font-size: small;
        margin-right: 0;
    }
}